body {
    background-color: rgb(222, 178, 178);
    
}

p { color:black; size: 180px;
    font-family: "Fantasy";
  
}

h1 {padding-left: 150px;
}
h2 {padding-left: 150px;}



img { border: 10px;px
}

div.full {min-height: 100px;
    display: grid;
    grid-template-columns: 50%50%;

    }

    div.right {
        min-width: 50px;
        background-color: lightblue;
        color: black;
        font-weight: bold;
    }
   
    div {min-width: 50px;
        color:bisque;
        background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */

    }

    