body {background-color: white;

}

p { border-style: dashed;
    color: pink
}

h1 {padding-left: 40px;

}

a {color: :red

}

img { border color:
}
#specialbotton {color:greenyellow}

div.full {min-height: 100px;
    background-color: blue;
    display: grid;
    grid-template-columns: 50%50%;

    }

    div.left {min-height: 50px;
    background-color: black;}

    div.right {min-height: 50px;
    background-color: aqua;}